@import '../../../styles/styles.scss';

.uploadedFilesCol {
  width: 300px;
}

.mainCol {
  min-width: 50vw;
}

mat-card.uploadedFiles {
  height: 50vh;
  overflow-y: auto;
  padding: 0;
}

mat-card.main {
  height: 50vh;
}

// TODO exchange with variable
.bg-accent {
  background-color: #ff4081;
}

.full-width {
  width: 100%;
}

.flex-grow {
  flex-grow: 4;
}
