<div class="container container-content center">
  <div>
    <div class="d-flex justify-content-end mb-3">
      <button mat-raised-button class="me-2" color="secondary" (click)="notImplemented()">reset</button>
      <button mat-raised-button class="me-2" color="secondary" (click)="notImplemented()">upload sample data</button>
      <button mat-raised-button color="primary" (click)="trainModel()" [disabled]="images.length == 0">
        <span [matTooltip]="images.length == 0 ? 'You need to upload some images first' : ''" matTooltipPosition="above"
          >train</span
        >
      </button>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col mainCol">
        <mat-card class="text-center main center" appUpload>
          <mat-card-content *ngIf="false">
            <mat-spinner color="accent"></mat-spinner>
          </mat-card-content>
          <mat-card-content>
            <h3>drag and drop images here or</h3>
            <button type="button" mat-raised-button (click)="browseForImages.click()" color="primary">
              browse for images
            </button>
            <input hidden (change)="uploadImages($event)" #browseForImages type="file" multiple accept="image/*" />
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col uploadedFilesCol">
        <mat-card *ngIf="!thereAreImages()" class="text-center uploadedFiles center">
          <mat-card-content>
            <p class="text-center m-5">No images yet.</p>
          </mat-card-content>
        </mat-card>
        <mat-card *ngIf="thereAreImages()" class="uploadedFiles">
          <mat-card-content>
            <mat-list role="list" *ngFor="let image of images; first as first; let index = index">
              <mat-divider *ngIf="!first"></mat-divider>
              <mat-list-item role="listitem" class="p-0">
                {{ image.name }}
                <div class="spacer"></div>
                <button
                  mat-icon-button
                  color="primary"
                  aria-label="Delete item"
                  class="clear-button"
                  (click)="deleteImage(index)"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
