@import '../../../styles.scss';

.uploadedFilesCol {
  max-width: 300px;
}

.dragAndDropCol {
  min-width: 50vw;
}

mat-card.uploadedFiles {
  border-style: solid;
  border-width: 2px;
  padding: 0;
  height: 50vh;
  overflow-y: auto;
}

mat-card.dragAndDrop {
  border-style: dashed;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-list-item {
  overflow-y: hidden;
}

.button-row {
  width: 100vw;
}

// mat-list {
//   // max-height: 100px;
//   // overflow: auto;
// }
