@import '../../styles.scss';

@media only screen and (max-width: 576px) {
  .wrapper {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  a {
    display: block;
  }
  a.mat-flat-button {
    background-color: white;
  }
}
