a {
  background-color: rgb(245, 245, 245);
  margin-top: 5px;
  margin-bottom: 5px;
}

.active {
  color: #0d6efd; // TODO theming
  text-decoration: underline;
}

@media only screen and (max-width: 576px) {
  .wrapper {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  a {
    display: block;
    background-color: rgb(255, 255, 255);
  }
}
