<nav class="wrapper">
  <button
    color="primary"
    class="nav me-2"
    routerLink="/"
    [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{ exact: true }"
    mat-stroked-button
  >
    intro
  </button>
  <button class="nav me-2" color="primary" routerLink="/tutorial" [routerLinkActive]="['active']" mat-stroked-button>
    tutorial
  </button>
  <button class="nav me-2" color="primary" routerLink="/faq" [routerLinkActive]="['active']" mat-stroked-button>faq</button>
  <app-footer class="mobile-only"></app-footer>
</nav>
