@import '../styles.scss';

.container-fluid {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

mat-sidenav {
  width: 100%;
}

.flex-fill {
  flex: 1;
}
