<div class="container-fluid">
  <mat-toolbar color="light" class="py-1">
    <button mat-stroked-button class="nav me-2" routerLink="" (click)="snav.close()">
      <h1><mat-icon>coffee</mat-icon>coffAI</h1>
    </button>
    <span class="spacer"></span>
    <div class="non-mobile">
      <app-nav></app-nav>
    </div>
    <button mat-flat-button class="nav" color="primary" routerLink="/train-a-model" [routerLinkActive]="['active']">
      train a model
    </button>
    <button mat-icon-button class="mobile-only ms-2" (click)="snav.toggle()">
      <mat-icon *ngIf="!snav.opened">menu</mat-icon>
      <mat-icon *ngIf="snav.opened">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container flex-fill">
    <mat-sidenav #snav class="mobile-only" role="directory" (click)="snav.toggle()" [autoFocus]="false">
      <app-nav></app-nav>
    </mat-sidenav>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-container>
</div>
