@import '~@angular/material/theming';
@include mat-core();
$theming-material-components-primary: mat-palette($mat-indigo);
$theming-material-components-accent: mat-palette($mat-pink, A200, A100, A400);
$theming-material-components-warn: mat-palette($mat-red);
$theming-material-components-theme: mat-light-theme(
  $theming-material-components-primary,
  $theming-material-components-accent,
  $theming-material-components-warn
);
@include angular-material-theme($theming-material-components-theme);

@media only screen and (min-width: 576px) {
  .mobile-only {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .non-mobile {
    display: none;
  }
}

.material-icons {
  vertical-align: middle;
}

.container-content {
  margin-top: 20px;
  margin-bottom: 40px;
}

// Typography
h1,
h2 {
  font-weight: normal;
}

.text {
  color: red;
}

html,
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a.nav {
  background-color: rgb(245, 245, 245);
  margin-top: 5px;
  margin-bottom: 5px;
}

a.active {
  color: #3f51b5;
  text-decoration: underline;
}

a.link {
  color: #3f51b5;
}

.spacer {
  flex: 1 1 auto;
}

mat-card {
  margin-bottom: 10px;
}
