@import '~@angular/material/theming';
@include mat-core();
$theming-material-components-primary: mat-palette($mat-indigo);
$theming-material-components-accent: mat-palette($mat-pink, A200, A100, A400);
$theming-material-components-warn: mat-palette($mat-red);
$theming-material-components-theme: mat-light-theme(
  $theming-material-components-primary,
  $theming-material-components-accent,
  $theming-material-components-warn
);
@include angular-material-theme($theming-material-components-theme);

@media only screen and (min-width: 576px) {
  .mobile-only {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .non-mobile {
    display: none;
  }
}

.material-icons {
  vertical-align: middle;
}

.container-content {
  min-height: 80%;
  &.center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// Typography
h1,
h2 {
  font-weight: normal;
}
p {
  font-size: 16px;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

mat-card {
  margin-bottom: 20px;
}

mat-card-title {
  line-height: normal;
}

button.nav {
  border: hidden;
}

button.nav.active {
  text-decoration: underline;
}
